<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291390259417-l8mabsn0eir959350q6iduq0lhmkab9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291390259417-l8mabsn0eir959350q6iduq0lhmkab9l</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nvx_yAX9iHOUs1Dl8-fwLshse2AEjYE</string>
	<key>GCM_SENDER_ID</key>
	<string>291390259417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ducnv.iZalo</string>
	<key>PROJECT_ID</key>
	<string>izalo-ac522</string>
	<key>STORAGE_BUCKET</key>
	<string>izalo-ac522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291390259417:ios:fc260a5e3a5dc07a</string>
	<key>DATABASE_URL</key>
	<string>https://izalo-ac522.firebaseio.com</string>
</dict>
</plist>